/********************
 * 1.4 Colors
 */

/**
 * Globals
 */
body {
  color: $base-font-color;
  background: $base-bg-color;
}

/**
 * Grid
 */
.wrapper {
  background: $wrapper-bg-color;
}

/**
 * Content
 */
.meta {
  color: $gray;
}

/**
 * Footer
 */
footer {
  color: $gray;
  background: $base-bg-color;
}
.call-to-action {
  background: $medium-gray;
}
