/* --------------------------------------------------------------
Colors
-------------------------------------------------------------- */

/**
 * Globals
 */
body {
  color: #151515;
}
body.boxed {
  background: #f5f5f5;
}
body.full {
  background: #fff;
}

/**
 * Grid
 */
.boxed .wrapper {
  background: #fff;
}

/**
 * Content
 */
.meta, .wp-caption-text {
  color: #c0c0c0;
}
.projects .meta {
  color: #151515;
}

/**
 * Footer
 */
footer {
  color: #c0c0c0;
}
.call-to-action {
  background: #eee;
}
