/********************
 * 1.2 Elements
 */

/**
 * Lists
 */
ul, ol {
	margin: 0 0 30px 30px;
}
ul {
	list-style: disc;
}
ul ul {
	list-style: circle;
}
ol {
	list-style: decimal;
}
ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin: .6em 0 .6em 1.5em;
}

/**
 * Tables
 */
table {
	width: 100%;
}
table th {
	padding: 10px;
}
table thead th {
	font-weight: 700;
}
table td,
table th {
	padding: 10px;
}
table tbody tr:nth-child(odd) {
	background: $light-gray;
}

/**
 * Definition Lists
 */
 dl {
	margin: 0 0 30px;
 }
 dt {
	font-weight: bold;
	margin-bottom: 4px;
}
dd {
	border-bottom: 1px solid $medium-gray;
	padding-bottom: 4px;
	margin-bottom: 30px;
}

/**
 * Forms
 */
input[type=text],
input[type=email],
input[type=password],
textarea {
	padding: 10px;
	border: none;
	border-radius: 4px;
	background: #f5f5f5;
}

select {
	max-width:100%;
}

/**
 * Media
 */
img,
picture,
figure {
	max-width: 100%;
	height: auto;
	margin: 0;
}

embed,
iframe,
object {
	max-width: 100%;
	margin: 0;
}

/**
 * Other
 */
hr {
	margin: 60px 0;
	height: 1px;
	border: 0;
	background-color: gray;
}

/**
 * Responsive settings for elements
 */
@media (max-width: 480px) {
	/* Lists */
	ul, ol {
		margin: 0 0 15px 15px;
	}
}
