/********************
 * 1.3 Layout 
 */

/**
 * Wordpress specific classes for the content-width theme-feature
 * Reference: http://codex.wordpress.org/Content_Width
 */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

/**
 * Set the frame
 */
header, .wrapper {
  margin-right: auto;
  margin-left: auto;  
  max-width: 1200px;
  width: 100%;
}

.wrapper {
  border-radius: 2px;
}

.hentry-masonry {
  width: 100%;
  padding: 15px;
  display: inline-block;

  @include media($medium-screen) {
    padding: 30px;
    width: 50%;
    &:nth-child(odd) {
      padding-right: 15px;
    }
    &:nth-child(even) {
      padding-left: 15px;
    }
  }
}

.hentry__inside {
  max-width: 800px;
  margin: 0 auto;
}

.pagination,
.comment-navigation {
  @include row();

  div {
    @include span-columns(6);
  }

  .nav-next {
    text-align: right;
    float: right;
  }
  .nav-previous {
    text-align: left;
    float: left;
  }
}

.footer-links { 
  @include clearfix;
  max-width: 90%;
  margin: 0 auto;
  @include media($medium-screen) {
    max-width: 80%;
  }
}

aside {
  @include span-columns(12 of 12);

  @include media($medium-screen) {
    @include span-columns(4 of 12);
    @include omega(3n);
    @include clearfix;
  }
}

/**
 * Column helpers
 */
.col-12 {
  width: 100%;
}
.col-8 {
  width: 66.6667%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.333333333%;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

/**
 * Floats
 */
.f-left {
  float: left;
}
.f-right {
  float: right;
}

/**
 * Padding System
 * pad-0 - No value
 * pad-1 - Original value
 * pad-2 - Double the value
 * pad-2-1 - Combination of values
 */

.pad-0-0-1 {
  padding-bottom: 30px;
}
.pad-0-0-2 {
  padding-bottom: 60px;
}
.pad-0-1-1 {
  padding: 0 30px 30px;
}
.pad-0-1-2 {
  padding: 0 30px 60px;
}
.pad-0-1 {
  padding: 0 30px;
}
.pad-1 {
  padding: 30px;
}
.pad-1-0-0 {
  padding-top: 30px;
}
.pad-1-0-1-1 {
  padding: 30px 0 30px 30px;
}
.pad-1-1-0 {
  padding: 30px 30px 0;
}
.pad-1-1-2 {
  padding: 30px 30px 60px;
}
.pad-2 {
  padding: 60px;
}
.pad-2-0-0 {
  padding: 60px 0 0;
}
.pad-2-0-1 {
  padding: 60px 0 30px;
}
.pad-2-1 {
  padding: 60px 30px;
}
.pad-2-1-0 {
  padding: 60px 30px 0;
}
.pad-2-1-1 {
  padding: 60px 30px 30px;
}

/**
 * Margins
 * m-0 - No value
 * m-1 - Original value
 * m-2 - Double the value
 * m-2-1 - Combination of values
 */
.m-0 {
  margin: 0;
}
.m-0-0-1 {
  margin-bottom: 30px;
}
.m-1-0-0 {
  margin-top: 30px;
}
.full .m-top-bar {
  /* Should have the same height as the fixed top-bar */
  margin-top: 130px;
}
.m-top-bar {
  /* Should have the same height as the fixed top-bar */
  margin-top: 129px;
}

/* Global margins */
p, pre, address {
  margin-bottom: 30px;
}

/**
 * Positioning helpers
 */
.v-top {
  vertical-align: top;
}
.inline {
  display: inline-block;
}

/**
 * Flexbox centering
 */
.flexbox {
  display: -webkit-box;
  display:    -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
}
.flexbox-child {
  margin: auto;
}

/**
 * Responsive settings for the layout
 */
@media only screen and (max-width: 768px) {

  /* Column helpers */
  .col-6, .col-4 {
    width: 100%;
  }
  aside.col-4.pad-1 {
    padding: 15px;
  }
  .col-8 {
    padding: 0 15px;
    width: 100%;
  }
  .col-8 .pad-1-0-1-1 {
    padding: 30px 0 0;
  }
}

@media only screen and (max-width: 480px) {

  /* Paddings */
  .pad-0-0-1 {
    padding-bottom: 15px;
  }
  .pad-0-0-2 {
    padding-bottom: 30px;
  }
  .pad-0-1-1 {
    padding: 0 15px 15px;
  }
  .pad-0-1-2 {
    padding: 0 15px 30px;
  }
  .pad-0-1 {
    padding: 0 15px;
  }
  .pad-1 {
    padding: 15px;
  }
  .pad-1-0-0 {
    padding-top: 15px;
  }
  .pad-1-0-1-1 {
    padding: 15px 0 15px 15px;
  }
  .col-8 .pad-1-0-1-1 {
    padding: 15px 0 0;
  }
  .pad-1-1-0 {
    padding: 15px 15px 0;
  }
  .pad-1-1-2 {
    padding: 15px 15px 30px;
  }
  .pad-2 {
    padding: 30px;
  }
  .pad-2-0-0 {
    padding: 30px 0 0;
  }
  .pad-2-0-1 {
    padding: 30px 0 15px;
  }
  .pad-2-1 {
    padding: 30px 15px;
  }
  .pad-2-1-0 {
    padding: 30px 15px 0;
  }
  .pad-2-1-1 {
    padding: 30px 15px 15px;
  }

  /* Margins */
  .m-top-bar {
    margin-top: 99px;
  }
  p, pre {
    margin-bottom: 15px;
  }
}
