/********************
 * 1.3 Layout
 */

/**
 * Set the frame
 */
header,
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  width: 100%;
}

.masonry-wrapper {
	padding-left: 15px;
	padding-right: 15px;
}

.hentry-masonry {
  width: 100%;
  padding: 15px;
  display: inline-block;

  @include media($medium-screen) {
    padding: 30px 15px;
    width: 50%;
  }
}

.hentry__inside {
  max-width: 800px;
  margin: 0 auto;
}

.pagination,
.nav-links,
.comment-navigation {
  @include row();

  div {
    @include span-columns(6);
  }

  .nav-next {
    text-align: right;
    float: right;
  }
  .nav-previous {
    text-align: left;
    float: left;
  }
}

.footer-links {
  @include clearfix;
  max-width: 90%;
  margin: 0 auto;
  @include media($medium-screen) {
    max-width: 80%;
  }
}

aside {
  @include span-columns(12 of 12);

	@include media($medium-screen) {
    @include span-columns(6 of 12);
    @include omega(2n);
    @include clearfix;
  }

  @include media($large-screen) {
    @include span-columns(4 of 12);
		@include omega-reset(2n);
    @include omega(3n);
    @include clearfix;
  }
}

/**
 * Column helpers
 */
.col-12 {
  width: 100%;
}
.col-8 {
  width: 66.6667%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.333333333%;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

/**
 * Padding System
 * pad-0 - No value
 * pad-1 - Original value
 * pad-2 - Double the value
 * pad-2-1 - Combination of values
 */

.pad-0-0-1 {
  padding-bottom: 30px;
}
.pad-0-0-2 {
  padding-bottom: 60px;
}
.pad-0-1-1 {
  padding: 0 30px 30px;
}
.pad-0-1-2 {
  padding: 0 30px 60px;
}
.pad-0-1 {
  padding: 0 30px;
}
.pad-1 {
  padding: 30px;
}
.pad-1-0-0 {
  padding-top: 30px;
}
.pad-1-0-1-1 {
  padding: 30px 0 30px 30px;
}
.pad-1-1-0 {
  padding: 30px 30px 0;
}
.pad-1-1-2 {
  padding: 30px 30px 60px;
}
.pad-2 {
  padding: 60px;
}
.pad-2-0-0 {
  padding: 60px 0 0;
}
.pad-2-0-1 {
  padding: 60px 0 30px;
}
.pad-2-1 {
  padding: 60px 30px;
}
.pad-2-1-0 {
  padding: 60px 30px 0;
}
.pad-2-1-1 {
  padding: 60px 30px 30px;
}

/**
 * Margins
 * m-0 - No value
 * m-1 - Original value
 * m-2 - Double the value
 * m-2-1 - Combination of values
 */
.m-0 {
  margin: 0;
}
.m-0-0-1 {
  margin-bottom: 30px;
}
.m-1-0-0 {
  margin-top: 30px;
}
.m-top-bar {
  margin-top: 130px;
}

blockquote p:last-of-type {
  margin-bottom: 0px;
}

blockquote > cite {
  margin-top: 15px;
}

/**
 * Responsive settings for the layout
 */
@media (max-width: 768px) {

  /* Column helpers */
  .col-6, .col-4 {
    width: 100%;
  }
  aside.col-4.pad-1 {
    padding: 15px;
  }
  .col-8 {
    padding: 0 15px;
    width: 100%;
  }
  .col-8 .pad-1-0-1-1 {
    padding: 30px 0 0;
  }
}

@media (max-width: 480px) {

  /* Paddings */
  .pad-0-0-1 {
    padding-bottom: 15px;
  }
  .pad-0-0-2 {
    padding-bottom: 30px;
  }
  .pad-0-1-1 {
    padding: 0 15px 15px;
  }
  .pad-0-1-2 {
    padding: 0 15px 30px;
  }
  .pad-0-1 {
    padding: 0 15px;
  }
  .pad-1 {
    padding: 15px;
  }
  .pad-1-0-0 {
    padding-top: 15px;
  }
  .pad-1-0-1-1 {
    padding: 15px 0 15px 15px;
  }
  .col-8 .pad-1-0-1-1 {
    padding: 15px 0 0;
  }
  .pad-1-1-0 {
    padding: 15px 15px 0;
  }
  .pad-1-1-2 {
    padding: 15px 15px 30px;
  }
  .pad-2 {
    padding: 30px;
  }
  .pad-2-0-0 {
    padding: 30px 0 0;
  }
  .pad-2-0-1 {
    padding: 30px 0 15px;
  }
  .pad-2-1 {
    padding: 30px 15px;
  }
  .pad-2-1-0 {
    padding: 30px 15px 0;
  }
  .pad-2-1-1 {
    padding: 30px 15px 15px;
  }

  /* Margins */
  .m-top-bar {
    margin-top: 100px;
  }
}
