/*--------------------------------------------------------------
Typographic styles for the post editor
--------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

.mceContentBody {
  color: #151515;
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.6em;

  text-rendering: optimizeLegibility;
}

.mceContentBody h1,
.mceContentBody h2,
.mceContentBody h3,
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6 {
  clear: both;
  margin-bottom: 5%;
  font-family: 'Julius Sans One', Open Sans, Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

.mceContentBody h1 {
  font-size: 3.8em;
}

.mceContentBody h2 {
  font-size: 2.8em;
}

.mceContentBody h3 {
  font-size: 2.2em;
}

.mceContentBody h4 {
  font-size: 1.6em;
}

.mceContentBody h5 {
  font-size: 1.4em;
}

.mceContentBody h6 {
  font-size: 1.2em;
}

hr {
  margin: 5% 0;
  height: 2px;
  border: 0;
  border-bottom: solid 1px #eee;
  background-color: transparent;
}

.mceContentBody blockquote {
  position: relative;
  z-index: 1;
  margin: 0 0 4% 0;
}

.mceContentBody blockquote p {
  position: relative;
  margin: 1em 0 0 0;
  font-size: 2em;
  font-family: 'Julius Sans One', Open Sans, Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

.mceContentBody ul,
.mceContentBody ol {
  margin: 0 0 30px 30px;
  line-height: 2em;
  padding-left: 0;
}

.mceContentBody ul {
  list-style: disc;
}

.mceContentBody ol {
  list-style: decimal
}

.mceContentBody ul ul,
.mceContentBody ol ol,
.mceContentBody ul ol,
.mceContentBody ol ul {
  margin: .6em 0 .6em 1.5em;
}

.mceContentBody img {
  max-width: 100%;
  height: auto;
}

.highlight {
  background: #fff198;
  color: #404040;
}

/*--------------------------------------------------------------
Table Styles
--------------------------------------------------------------*/

table {
  margin-bottom: 5%;
  padding: 0;
  width: 100%;
  font-size: 1em;
}

table thead {
  background: #f5f5f5;
}

table td,
#content table th {
  padding: 10px
}

table td {
  border-bottom: solid 1px #f5f5f5
}

table tr:last-child td {
  border-bottom: none
}

table tr:nth-child(even) {
  background: #f5f5f5
}

/*--------------------------------------------------------------
Code Styles
--------------------------------------------------------------*/

pre {
  overflow: auto;
  margin-bottom: 30px;
  padding: 30px;
  max-width: 100%;
  background: #f5f5f5;
  font-family: 'Courier', monospace;
  font-size: 1em;
  line-height: 1.6em;
}

/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/

.alignleft {
  display: inline;
  float: left;
  margin: .5em 2em 1.5em 0;
}

.alignright {
  display: inline;
  float: right;
  margin: .5em 0 1.5em 2em;
}

.aligncenter {
  display: block;
  clear: both;
  margin: .5em auto 1.5em auto;
  text-align: center;
}

.alignnone,
a img.alignnone {
  margin: .5em 2em 1.5em 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: .5em auto 1.5em auto;
}

.alignright,
a img.alignright {
  float: right;
  margin: .5em 0 1.5em 2em;
}

.alignleft,
a img.alignleft {
  float: left;
  margin: .5em 2em 1.5em 0;
}

.aligncenter,
a img.aligncenter {
  display: block;
  margin: .5em auto 1.5em auto;
}

.wp-caption {
  margin: .5em 0 1.5em 0;
  padding: 0;
  max-width: 100%;
  border: none;
  background: none;
}

.wp-caption img[class*='wp-image-'] {
  display: block;
  margin: 0;
  max-width: 100%;
}

.wp-caption-dd,
.wp-caption-text,
.gallery-caption {
  margin-top: 15px;
  width: 100%;
  color: #8c8c8c;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .8em;
}

.wp-caption.alignnone {
  margin: .5em 2em 1.5em 0;
}

.wp-caption.alignleft {
  margin: .5em 2em 1.5em 0;
}

.wp-caption.alignright {
  margin: .5em 0 1.5em 2em;
}

.wp-caption.aligncenter {
  text-align: center;
}

.pull-right {
  float: right;
  margin: 1% 0 3% 5%;
  text-align: right;
}
.pull-left {
  float: left;
  margin: 0 5% 3% 0;
  text-align: left;
}
.pull-right, .pull-left {
  width: 34%;
  font-size: 2em;
  font-family: 'Julius Sans One', Open Sans, Helvetica, Arial, sans-serif;
}

/*--------------------------------------------------------------
Buttons
--------------------------------------------------------------*/

/**
 * General attributes
 */
.btn {
  border-radius: 2px;
  line-height: 3em;
  background: none;
  padding: 10px 20px;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all .4s linear;
     -moz-transition: all .4s linear;
      -ms-transition: all .4s linear;
       -o-transition: all .4s linear;
          transition: all .4s linear;
}

/**
 * Neutral button-color
 */
a.btn-neutral {
  border: 1px solid #151515;
  color: #151515;
}

/**
 * Positive button-color
 */
a.btn-positive {
  border: 1px solid #2ECC71;
  color: #2ECC71;
}

/**
 * Negative button-color
 */
a.btn-negative {
  border: 1px solid #FF4136;
  color: #FF4136;
}

/**
 * Extra button-color
 */
a.btn-extra {
  border: 1px solid #0D8EFF;
  color: #0D8EFF;
}