/********************
 * 3.3 Footer
 */

footer hr {
	margin: 0 auto 15px;
	width: 96px;
}

.footer-links {
	padding: $spacing-m 0 0;
	text-align: center;
	font-weight: 300;
	color: black;

	aside {
		margin-bottom: $spacing-m;
	}

	ul {
		list-style: none;
		margin: 0;
		padding:0;
	}

	li {
		margin-bottom: 8px;
	}

	.sub-menu li {
		font-size: .8em;
		margin-bottom: 0;
	}

	.widget-title {
		color: $base-font-color;
		font-size: 1.2em;
		margin-bottom: 1em;
	}
}

/**
 * Social Icons
 */
.social a {
	display: inline-block;
	padding: 15px 10px;
	line-height: 1;
	color: $gray;
}

.social svg {
	width: auto;
	height: 24px;
}

.social svg path {
	fill: $gray;
}

footer .meta {
	font-size: .9em;
}
