/* --------------------------------------------------------------
Footer
-------------------------------------------------------------- */
footer hr {
  border-color: #DFDFDF;
  border-width: 1px;
  margin: 30px auto 15px;
  width: 4em;
}

.footer-links {    
  padding: $spacing-m 0 0;
  text-align: center;
  font-size: .8em;
  font-weight: 300;

  aside {
    margin-bottom: $spacing-s;
    @include media($medium-screen) {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding:0;
  }

  li {
    margin-bottom: 8px;
  }

  .sub-menu li {
    margin-bottom: 0;
    a:before {
      content: '— ';
    }
  }

  a {
    color: $gray;
    width: 100%;
  }

  .widget-title {
    color: $base-font-color;
    font-size: 1.2em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

/**
 * Social Icons
 */
.social i {
  display: inline-block;
  font-size: 1.6em;
  padding: 15px 10px;
}

footer .meta {
    font-size: .7em;
  }

/**
 * Responsive settings for the footer
 */
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
