/* --------------------------------------------------------------
Top-bar
-------------------------------------------------------------- */

/**
 * Layout of the top-bar wrapper
 */
.top-bar {
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 30px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
      -ms-transition: all .2s;
       -o-transition: all .2s;
          transition: all .2s;
  /* Hardware accelerate transitions */
  -webkit-transform: translateZ(0);
}
.tb-large {
  padding: 30px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
      -ms-transition: all .2s;
       -o-transition: all .2s;
          transition: all .2s;
  /* Hardware accelerate transitions */
  -webkit-transform: translateZ(0);
}
.full .top-bar,
.full .tb-large {
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.home .top-bar,
.home .tb-large {
  /*border: none;*/
}
.tb-small {
  padding: 0px 30px;
  background: #fff;
  background: rgba(255,255,255,.9);
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
      -ms-transition: all .2s;
       -o-transition: all .2s;
          transition: all .2s;
  /* Hardware accelerate transitions */
  -webkit-transform: translateZ(0);
}

/**
 * Layout of branding in top-bar
 */
.tb-logo {
  float: left;
  width: 80%;
}

.tb-logo h1 {
  float: left;
  clear: right;
  margin-top: 18px;
  text-align: left;
  font-size: 1.6em;
}
.tb-logo img {
  float: left;
  margin: 16px 15px 0 0;
  max-height: 35px;
  width: auto;
  text-align: left;
}

/**
 * Container holding the toggle menu
 */
.navigation-toggle-wrapper {
  position: relative;
  float: right;
  width: 20%;
  text-align: right;
}

/**
 * Responsive settings for the top-bar
 */
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {

  /* Layout of the top-bar wrapper */
  .top-bar, .tb-large {
    padding: 15px;
  }
  .tb-small {
    padding: 0 15px;
  }

  /* Layout of branding in top-bar */
  .tb-logo img {
    margin: 18px 10px 0 0;
    max-height: 30px;
  }
  .tb-logo h1 {
    margin-top: 19px;
    font-size: 1.4em;
  }
}
