/********************
 * 3.2 Navigation Toggle
 */

/* Hamburger Menu Icon */

$menu-icon-color: #151515;

.primary-nav-trigger {
	display: block;
	position: absolute;
	right: 0;
	top: 4px;
	height: 50px;
	width: 50px;
	z-index: 99999;
	background: transparent;
	border: none;
	cursor: pointer;

	.menu-icon {
		/* this span is the central line of the menu icon */
		display: inline-block;
		position: absolute;
		@include center;
		width: 25px;
		height: 2px;
		border-radius: 2px;
		background-color: $menu-icon-color;
		@include transition(background-color .3s);


		/* these are the upper and lower lines in the menu icon */
		&::before, &:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: $menu-icon-color;
			right: 0;

			-webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
			-moz-transition: -moz-transform .3s, top .3s, background-color 0s;
			transition: transform .3s, top .3s, background-color 0s;
		}

		&::before {
			top: -7px;
		}

		&::after {
			top: 7px;
		}

		&.is-clicked {
			background-color: transparent;

			&::before, &::after {
				background-color: $menu-icon-color;
			}

			&::before {
				top: 0;
				@include transform(rotate(135deg));
			}

			&::after {
				top: 0;
				@include transform(rotate(225deg));
			}
		}

	}

}

/* Menu Appearance*/

#menu {
	position: absolute;
	z-index: 99999;
	display: none;
	right: 0;
	top: 60px;

	@include media($medium-screen) {
		right: -20px;
	}

	 @include media($large-screen) {
		right: -20px;
	}

}
#menu ul, #menu li, #menu li a {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu > ul {
	padding: 15px 30px;
	min-width: 200px;
	background: #151515;
	text-align: right;
	border-radius: 4px;
	overflow-y: scroll;
	max-height: 80vh;
}
#menu li a {
	padding: 10px 0;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all .2s;
		 -moz-transition: all .2s;
			 -o-transition: all .2s;
					transition: all .2s;
}
#menu > ul > li.menu-item-has-children > a {
	border: none;
}
#menu > ul > li.menu-item-has-children > a:after,
#menu > ul ul > li.menu-item-has-children > a:after {
	display: inline-block;
	width: 10px;
	height: 16px;
	content: "";
	background-image: url(./assets/img/angle-down.svg);
	vertical-align: middle;
	margin-left: 4px;
	margin-bottom: 2px;
}
#menu li a:hover {
	opacity: .6;
}
#menu ul ul {
	padding-bottom: 10px;
	//border-bottom: 1px solid rgba( 255, 255, 255, .1);
}
#menu ul ul ul {
	padding-bottom: 10px;
	//border-bottom: 1px solid rgba( 255, 255, 255, .1);
	font-size: .8em;
}
#menu ul ul li a,
#menu ul ul ul li a {
	padding: 2px 0;
	font-size: .8em;
}

/* Menu Detail - Triangle */

#menu:after {
	bottom: 100%;
	right: 16px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(21, 21, 21, 0);
	border-bottom-color: #151515;
	border-width: 10px;
	margin-left: -10px;

	@include media($medium-screen) {
		right: 35px;
	}

	@include media($large-screen) {
		right: 35px;
	}
}
