/* --------------------------------------------------------------
Comments
-------------------------------------------------------------- */
.comments-title {
  padding-top: 30px;
}
#comments ol {
  margin: 0;
  list-style: none;
}
#comments li {
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid $medium-gray;
}
#comments .comment-content ul {
  margin: 0 0 30px;
  list-style: inside;
  li {
    border:none;
    margin: 0;
    ul {
      margin: 0 0 15px 15px;
      li {
        margin: 0 0 0 15px;
      }
    }
  }  
}
#comments .comment-content ol {
  list-style: inside;
  list-style-type: decimal;
  margin: 0 0 30px 0;
  li {
    margin: 0;
    border:none;
    ol {
      margin: 0 0 15px 15px;
      li {
        margin: 0 0 0 15px;
      }
    }
  }
}
#comments .children li {
  margin-top: 30px;
  border: none;
  background: #fff;  
  width: 100%;
}
#comments .children .odd {
  background: $light-gray;  
}
#comments .avatar {
  display: inline-block;
  margin-right: 2%;
  max-width: 13%;
  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
  vertical-align: top;

       -o-border-radius: 40px;
      -ms-border-radius: 40px;
}
.comment-wrap {
  width: 84%;
}
#comments .comment-cite {
  clear: right;
  margin: 0;
}
.comment-respond {
  width: 100%;  
  padding-top: 30px;
}
.comment-respond h3 {
  margin-bottom: 30px;
}
.comment-respond h3 small a {
  font-size: .5em;
  opacity: .4;
}
#comments input[type=text] {
  width: 50%;
}
#comments textarea {
  width:100%;
}
