/********************
 * 2.2 Typo
 */

/**
 * Typo Helpers
 */
.t-lightweight {
	font-weight: 300;
}
.t-italic {
	font-style: italic;
}

/**
 * Globals
 */
body,
button,
input,
select,
textarea {
	font-size: $base-font-size;
	font-family: $base-font-family;
	line-height: $base-line-height;

	text-rendering: optimizeLegibility;
}
small {
	font-size: $small-font-size;
}
big {
	font-size: $big-font-size;
}
b, strong {
	font-weight: bold;
}
dfn, em, i {
	font-style: italic;
}
cite {
	display: block;
	font-size: $small-font-size;
}
pre {
	overflow: auto;
	padding: $spacing-s;
	max-width: 100%;
	background: $light-gray;
	font-family: $pre-font-family;
}
code, kbd, tt, var {
	font-family: $code-font-family;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup, sub {
	position: relative;
	height: 0;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6,
blockquote p,
q,
.widgetTitle {
	clear: both;
	font-family: $headings-font-family;
	line-height: $headings-line-height;
	word-wrap: break-word;
}
h1 {
	font-size: 3.8em;
}
h2 {
	font-size: 2.4em;
	line-height: 1.2em;
}
h2.meta {
	font-family: $base-font-family;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.6em;
}
h5 {
	font-size: 1.4em;
}
h6 {
	font-size: 1.2em;
}
blockquote p, q {
	font-size: 1.4em;
}

/**
 * Theme-related typo styles
 */
.meta, .more-link {
	font-weight: 300;
	font-size: .9em;
}
.hentry-masonry header {
	margin-bottom: $spacing-s;
}
.hentry-masonry header p {
	margin: $spacing-xs 0 0;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6, {
	margin-bottom: $spacing-s;
}
.entry-content header h1,
.entry-content header h2 {
	margin-bottom: 8px;
}

/**
 * Responsive settings for typo
 */
@media (max-width: 768px) {

	/* Headings */
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.8em;
	}
	h4 {
		font-size: 1.6em;
	}
	h5 {
		font-size: 1.4em;
	}
	h6 {
		font-size: 1.2em;
	}
	blockquote p, q {
		font-size: 1.6em;
	}
}
@media (max-width: 480px) {

	/* Globals */
	pre {
		padding: $spacing-xs;
	}

	/* Headings */
	h1 {
		font-size: 2.4em;
	}
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.4em;
	}
	h5 {
		font-size: 1.2em;
	}
	h6 {
		font-size: 1em;
	}
	blockquote p, q {
		font-size: 1.2em;
	}

	/* Theme-related typo styles */
	.meta {
		font-size: .7em;
	}
}
